<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Update Student</h1>
    <hr>

    <form th:action="@{/student/update}" th:object="${student}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{surname}" placeholder="Surname" class="form-control mb-4 col-4">
        <input type="text" th:field="*{fin}" placeholder="FIN" class="form-control mb-4 col-4">
        <input type="number" th:field="*{age}" placeholder="Age" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>

    <hr>

    <a th:href="@{/student/}">Back to Student List</a>
</div>
</body>
</html>
